body{
    margin:0;
}
.logo svg{
    height: 100px;
    padding: 15px;
}
.logo{
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.image{
    margin: 80px auto;
    text-align: center;
}
body::-webkit-scrollbar-track
{
	border: 0px solid black;
	background-color: transparent;
}
body::-webkit-scrollbar
{
	width: 0px;
	background-color: transparent;
}
body::-webkit-scrollbar-thumb
{
	background-color: #1D2020;
	border-radius: 0px;	
}